/.devcontainer/ amadeusz.szymko.2@tier4.jp
/.github/ kokseang.tan@tier4.jp
/.vscode/ kokseang.tan@tier4.jp
/autoware_ml/ kokseang.tan@tier4.jp
/docs/ kokseang.tan@tier4.jp
/pipelines/project_adaptation/ satoshi.tanaka@tier4.jp
/pipelines/webauto/ satoshi.tanaka@tier4.jp
/projects/BEVFusion/ samrat.thapa@tier4.jp kokseang.tan@tier4.jp
/projects/BLIP-2/ samrat.thapa@tier4.jp
/projects/CalibrationStatusClassification/ amadeusz.szymko.2@tier4.jp yihsiang.fang@tier4.jp
/projects/CenterPoint/ kokseang.tan@tier4.jp
/projects/FRNet/ amadeusz.szymko.2@tier4.jp
/projects/GLIP/ samrat.thapa@tier4.jp
/projects/MobileNetv2/ samrat.thapa@tier4.jp
/projects/PTv3/ amadeusz.szymko.2@tier4.jp
/projects/SparseConvolution/ kokseang.tan@tier4.jp amadeusz.szymko.2@tier4.jp
/projects/SwinTransformer/ samrat.thapa@tier4.jp
/projects/template/ kokseang.tan@tier4.jp
/projects/TransFusion/ amadeusz.szymko.2@tier4.jp kokseang.tan@tier4.jp
/projects/YOLOX/ samrat.thapa@tier4.jp
/projects/YOLOX_opt/ samrat.thapa@tier4.jp
/projects/StreamPETR/ samrat.thapa@tier4.jp
/tools/analysis_3d/ kokseang.tan@tier4.jp
/tools/auto_labeling_2d/ shinatro.tomie@tier4.jp
/tools/auto_labeling_3d/ shinatro.tomie@tier4.jp
/tools/calibration_classification/ amadeusz.szymko.2@tier4.jp yihsiang.fang@tier4.jp
/tools/classification2d/ samrat.thapa@tier4.jp
/tools/detection2d/ samrat.thapa@tier4.jp
/tools/detection3d/ kokseang.tan@tier4.jp
/tools/rerun_visualization kokseang.tan@tier4.jp
/tools/scene_selector/ samrat.thapa@tier4.jp
/tools/segmentation2d/ samrat.thapa@tier4.jp
/tools/setting_environment/ kokseang.tan@tier4.jp
