/.github/ satoshi.tanaka@tier4.jp
/.vscode/ satoshi.tanaka@tier4.jp
/autoware_ml/ satoshi.tanaka@tier4.jp
/docs/ satoshi.tanaka@tier4.jp
/projects/BEVFusion/ satoshi.tanaka@tier4.jp
/projects/template/ satoshi.tanaka@tier4.jp
/projects/TransFusion/ satoshi.tanaka@tier4.jp
/tools/detection2d/ satoshi.tanaka@tier4.jp
/tools/detection3d/ satoshi.tanaka@tier4.jp
/tools/download_t4dataset/ satoshi.tanaka@tier4.jp
